::selection {
    background: none;
}

@font-face {
    font-family: 'angry-birds';
    src: url('../data/font/angrybirds-regular.ttf') format('truetype');
}

body {
    position: absolute;
    top: 10vh;
    left: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#play-home {
    position: absolute;
    border: none;
    background: none;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
}

#play-home:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#play-home img {
    width: 45%;
    height: auto;
}

#score1,
#score2,
#score3,
#score4 {
    font-family: 'angry-birds';
    color: white;

    font-size: 32px;
    position: absolute;
    top: 5vh;
    right: 5vw;
}

#stage {
    position: absolute;
    transition: all 0.8s ease;
}

#stage button {
    font-family: 'angry-birds';
    background-color: #F4BA4C;
    color: white;
    font-size: 80px;
    padding: 20px 44px 20px 44px;
    border-radius: 16px;
    border: 4px solid white;
    cursor: pointer;
    transition: all 0.8s ease;
}

#stage-wrapper {
    transition: all 0.8s ease;
    margin: 20px;
}

#stage-wrapper:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#stage-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
}

#stage1-star,
#stage2-star,
#stage3-star,
#stage4-star {
    font-family: 'angry-birds';
    color: white;
    padding: 6px;
    text-align: center;
    font-size: 24px;
}

#stage1 {
    top: 35vh;
    left: 20vw;
}

#stage2 {
    top: 35vh;
    left: 39vw;
}

#stage3 {
    top: 35vh;
    left: 51vw;
}

#stage4 {
    top: 35vh;
    left: 63vw;
}

#pause-btn {
    position: absolute;
    top: 4vh;
    left: 2vw;
    border: none;
    background: none;
    transition: all 0.8s ease;
}

#play-btn {
    position: absolute;
    top: 4vh;
    left: 2vw;
    border: none;
    background: none;
    transition: all 0.8s ease;
}

#restart-btn {
    position: absolute;
    top: 4vh;
    left: 6vw;
    border: none;
    background: none;
    transition: all 0.8s ease;
}

#home-btn {
    position: absolute;
    top: 4vh;
    left: 10vw;
    border: none;
    background: none;
    transition: all 0.8s ease;
}

#stage-btn {
    position: absolute;
    top: 4vh;
    left: 14vw;
    border: none;
    background: none;
    transition: all 0.8s ease;
}

#pause-btn:hover,
#play-btn:hover,
#restart-btn:hover,
#home-btn:hover,
#stage-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#pause-img {
    position: absolute;
    top: 4px;
    left: 0vh;
    border: none;
    background: none;
    padding: 125px 300px;
}